#日志级别
LOG_LEVEL=debug
#Web端口
PORT="8080"
#Gin mode:debug/release/test
GIN_MODE="debug"
#HTTPS
HTTPS="false"
#密评开关
MYSQL_INSECURE="true"
MySQL_DSN="root:123456@tcp(localhost:3306)/planning-manage?timeout=1s&readTimeout=1s&writeTimeout=1s&parseTime=true&loc=Local&charset=utf8mb4,utf8"

LDAPBASE="dc=mylitboy,dc=com"
LDAPPASSWORD="Cestc&OpenLdap-0703"
LDAPURLS="ldap://10.32.97.78:389"
# 正式
#    urls: ldap://10.32.226.14:389
LDAPUSERNAME="cn=admin,dc=mylitboy,dc=com"


# zhangzhi
MYSQL_DSN=root:123456@tcp(localhost:3306)/planning_manage?timeout\=10s&readTimeout\=10s&writeTimeout\=10s&parseTime\=true&loc\=Local&charset\=utf8mb4,utf8
MYSQL_INSECURE=true
HTTPS=false
PORT=8080